@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">

        @* Here's where we render the page title `String`. *@


<head>



        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

   </head>
    <body>
    <div class="container">
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content

<img src="/assets/images/8.jpg" class="mx-auto rounded" alt="clothespins" width="100" height="100"
    </div>
    </body>
</html>
