@(StainTypes:List[StainType])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stain Type</title>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
<p>
   We all know that in our busy, everyday lives accidents can happen.  Things get spilled,
    dropped, or knocked over, and if you have kids, you have messes. Not to worry, help is here.
    Below you can start by choosing the type of stain closest to your issue.
</p>
<form action="/textile">
    <label for="StainType">Title:Stain Type </label>
    <select class="form-control" id="staintype" name="staintype">
        @for(StainType <- StainTypes){
        <option value="@StainType.getStainTypeId">@StainType.getTypeName</option>
        }
    </select>

        <input type="submit" class="form-control btn-primary" value="Next">
    </form>

    <form >
        <a href="\" type="btn" class="btn">Previous</a>
    </form>
</div>
</body>
</html>