<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stain Type</title>
</head>
<body>
<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Dropdown button
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">grass</a>
        <a class="dropdown-item" href="#">blood</a>
        <a class="dropdown-item" href="#">oil</a>
        <a class="dropdown-item" href="#">coffee</a>
        <a class="dropdown-item" href="#">chocolate</a>
        <a class="dropdown-item" href="#">ketchup/bbq</a>
        <a class="dropdown-item" href="#">ink</a>
        <a class="dropdown-item" href="#">blueberry</a>
        <a class="dropdown-item" href="#">red clay</a>

    </div>
</div>
</body>
</html>