@(stainTypeId:String,textiles:List[Textile])
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Textiles</title>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container-fluid">

        <form action="/treatment">
            <input type="hidden" value="@stainTypeId" name="stainTypeId">
            <label for="Textile">Title:Textile</label>
            <select class="form-control" id="textile" name="textile">

            @for(textile <-textiles){
                <option value="@textile.getTextileId">@textile.getTextileName</option>
                }
            </select>

            <input type="submit" class="form-control btn-primary" value="Next">
        </form>
        <form >
            <a href="\staintype" type="btn" class="btn">Previous</a>
        </form>

</div>
</form>
</body>

</html>