<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textiles</title>
</head>
<body>
<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Dropdown button
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">cotton</a>
        <a class="dropdown-item" href="#">polyester</a>
        <a class="dropdown-item" href="#">wool</a>
        <a class="dropdown-item" href="#">synthetic blend</a>
        <a class="dropdown-item" href="#">upholstery</a>
        <a class="dropdown-item" href="#">carpet</a>
    </div>
</div>
</body>
</html>