@(message: String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stain Type</title>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<section id="top" xmlns="http://www.w3.org/1999/html">
    <div class="wrapper">
        <h1>@message</h1>
    </div>
</section>
<div id="content" class="container-fluid">
    <article>
        <p>
            If you need help removing stains from your fabrics,
            you've come to the right place! Please begin by entering a username and password,
            then click save and next to go to the next page.
        </p>
        <div class="container-fluid">
        <form method="post" action="newuser" >
            @helper.CSRF.formField
            <p>
                Username:
                <input type="text" name="user" size="15" maxlength="20"/>
            </p>
            <p>
                Password :
                <input type="passWord" name="passWord" size="15" maxlength="20"/>
            </p>
            <input type="submit" value="save">
        </form>
        <form >
            <a href="\staintype" type="btn" class="btn">Next</a>
        </form>
        <div class="text-center">
        <img src="/assets/images/pegs-2664512__480.jpg" alt="clothespins" width="50%">
        </div>
        </div>
    </article>

</div>
</body>